<!DOCTYPE html>
<html>
<head>
	<title>weapons Hub</title>
	<link rel="stylesheet" type="text/css" href="style1.css">
	<link rel="stylesheet" type="text/css" href="gun.css">
</head>
<body>
	<div>
		<h1>Weapons Hub</h1>
	</div>
	<div class="nav">

		<div>
			<ul>
				<li><a>Riffiles</a>
					<ul>
						<li><a href="m416_details.html"> M416</li>
						<li><a href="m16a4_details.html"> M16A4</li>
						<li><a href="m762_details.html">M762</li>
						<li><a href="ump45_details.html">UMP45</li>
						<li><a href="groza_details.html">Groza</li>
						<li><a href="aug_details.html">Aug</li>
						

					</ul>
				</li>
				<li><a>Snipers</a>
					<ul>
						<li><a href="kar98_details.html">KAR98</li>
						<li><a href="slr_details.html">SLR</li>
						<li><a href="mini14_details.html">Mini 14</li>

					</ul>
				</li>
				<li><a>shot gun</a>
					<ul>
						<li><a href="s1897_details.html">S1897</li>
						<li><a href="s12k_details.html">S12K</li>
						<li><a href="s686_details.html">S686</li>
					</ul>	
				</li>
				<li><a>Pistol</a>
					<ul>
						<li><a href="p92_details.html">P92</li>
						<li><a href="918c_details.html">P18C</li>
						<li><a href="p1911_details.html">P1911</li>
						<li><a href="r45_details.html">R45</li>
						<li><a href="de_details.html">Desert Eagle</li>

					</ul>	
				</li>

			</ul>
		</div>
	</div>
	<div>
		<div class="gun" ><img src="images/aug.jpg" style="height: 400px; width:500px;"></div>
		<div class="text_details">
				<table>
					<label>Name : AUG</label><br>
					<label>Ammo : 40 bullets</label><br>
					<label>Damage : <progress id="progress" value="70" max="100"></progress></label><br>
					<label>Stability: <progress id="progress" value="80" max="100"></progress></label><br>
					<label>Range : <progress id="progress" value="60" max="100"></progress></label>

				</table>
		</div>	
	</div>
</body>
</html>